extends layout

block content
  h1= title
  div(class="sparkline" data-preset="big" data-points=temp.toString())
  span
    label Current Tempurature: 
    var #{current}°F
  p(class="caption") Temperature History in our Apartment.
